[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = ">=2"
matplotlib = "*"
requests = "*"
plotly = "*"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.8"
